<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Appenders>
        <File name="FileLog" fileName="/Users/sofiacantarelli/Documents/DAS/app.log" append="true">
            <JsonLayout complete="false" compact="false"/>
        </File>
        <Console name="FileConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="loggerDas" level="info"/>
        <Root level="info">
            <AppenderRef ref="FileConsole"/>
            <AppenderRef ref="FileLog"/>
        </Root>
    </Loggers>
</Configuration>